@CHARSET "UTF-8";



.imagemCentralizada {
	display: block;
	width: 100%;
	margin-top: -8px;
}

.loading {
	display: block;
	position: absolute;
	top: 65%;
	left: 50%;
	margin-top: -210px;
	margin-left: -98px;
	z-index: 999;
	width: 200px;
	height: 200px;
	
}

.divTopo {
	padding-bottom: 5px;
}

.divCabecalho {
	padding-bottom: 5px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 95% !important;
}

.botaoLogout {
	background: #EA5C5C;
}



.divLogo {
	
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -190px;
	margin-left: -122px;
	z-index: 999;
	width: 200px;
	height: 200px;
}


.divCPFeSenha {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -150px;
	z-index: 999;
	width: 170px;
	height: 170px;
}

.divEntrar {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 50px;
	z-index: 999;
	
}

.divEntrarButton {
	width: 245px;
	height: 50px;
	margin-left: -150px;
	background-image:none;
	background-color:#569d11;
	color: white;
}

body .ui-badge {
    background: #d32f2f;
    color: #fff;
    font-size: .75rem;
    font-weight: 700;
    min-width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
}

body .ui-chip {
    background-color: #e3f2fd;
    color: #495057;
    border-radius: 16px;
    padding: 0 0.5rem;
}

.iconePlus .ui-icon.ui-icon-triangle-1-e {
   content: "\e90d" !important;
     background-color: #000000;
    background-position: 0 0; /* closed position */
}
.iconePlus .ui-icon.ui-icon-triangle-1-s {
     content: "\e90d" !important;
     background-color: #000000;
    background-position: 0 0; /* opened position */
}

.iconePlus .ui-icon ui-icon-triangle-1-e {
    content: "\e90d" !important;
    
}

.ui-panelmenu-panel .iconePlus  {
	 content: "\e90d" !important;
  
}


.colStats {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3.5rem;
}

.fontStats {
	color: #333333;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.copyright{
	position: relative;
    float: left;
    bottom: -20px;
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 10px;
    margin-top: 20px
}


